VITE_SUPABASE_URL=https://cnrajashdiemnezxuxbl.supabase.co
VITE_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNucmFqYXNoZGllbW5lenh1eGJsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkzMTk2NjgsImV4cCI6MjEwNDg5NTY2OH0.iJgKTDe4JN5WwJAdCU9_kVORi10dKEu_MnLquEgl__Q
VITE_PORTAL=
VITE_URL_CUSTOMER=
VITE_URL_PARTNER=
VITE_URL_ADMIN=
